.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100px;
  margin: 15px;
}

.forms {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin: 10px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

form button {
  margin: 10px;
  padding: 8px 15px;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.error {
  border: 1px solid #dc3545;
  background-color: #f8d7da;
  color: #721c24;
}

.success {
  border: 1px solid #28a745;
  background-color: #d4edda;
  color: #155724;
}

.submitButton {
  color: black;
  border: 1px solid black;
}

.submitButton:hover {
  color:  rgb(5, 199, 43);
  border: 1px solid rgb(5, 199, 43);
}